@charset "UTF8";

@media screen and (min-width: 769px) {
    i#burguer{
        display: none;
    }
    menu{
        display: block;
    }
    
    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}