@charset "UTF-8";

:root {
    --cor0: #c4e0f9;
    --cor1: #9bbdf9;
    --cor2: #67aaf9;
    --cor3: #2EC0F9;
    --cor4: #b95f89;
    
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: var(--cor0);
}

header {
    background-color: var(--cor3);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

i#burguer {
    background-color: var(--cor2);
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: var(--cor4);
    color: black;
    
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color:var(--cor1);
    color: black;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color:var(--cor4);
    color: black;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}