@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Russo One', sans-serif;
    --font3: 'Merienda', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px;
    padding-bottom: 0px;
    /*text-transform: uppercase; ( para transformar letras maísculas)*/
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: orange;
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.541);
    display: inline-block;
    padding: 10px;
    
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}